*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #79dba8;
  --purple: #79599e;
  --pink: #f08aa7;
  --lightpink: #fddcd2;
  --background: var(--pink);
  --black: #252629;
  --font-primary: "Agu Display", Verdana;
}

body {
  font-family: var(--font-primary);
  background-color: var(--background);
}

ul {
  list-style: none;
  padding: 0;
}
