.header {
  position: fixed 0 0;
  width: 100%;
  padding: 2em 0;
  background: var(--pink);
  border-bottom: 0.5em solid var(--purple);
  font-family: Agu Display;
  font-size: 1.5em;
}

.header__title {
  text-align: center;
}

h1 {
  color: var(--black);
}
